html, body {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

.webgl {
  position: fixed;
  left: 0;
  top: 0;
  outline: none;
}

.lil-gui {
  --width: 500px;
  --name-width: 65%;
  --font-size: 1.3rem;
}

.lil-gui button {
  height: auto !important;
  padding: 5px;
}

.lil-gui .controller {
  padding: 5px;
}